@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bottoms Sup</h1>
    <p class="lead">Bottoms Sup is an application that connects bars to users and users to their friends.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign up and and pick up the next round</h2>
        <p>
           
        </p>
    
    </div>
  
</div>